.registration-title {
    color: #66ccff;
}

button {
    width: 100%;
    background-color:#3399ff;
    color: white;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    > * {
        width: 100%;
    }
}


a {
    cursor: pointer;
}
button {
    margin-top: 10px;
}
